body {
    text-align: center;
}

h1 img {
    width: 497px;
    margin: 20px;
}

form input {
    border: 1px solid black;
    background: #fdfdfd;
    font-size: 20px;
    margin: 4px;
    padding: 10px;
}

form button {
    border: 1px solid black;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
}

.result {
    padding: 10px;
    border: 1px black solid;
    background: #fdfdfd;
}